:root {
    --pool: #0a6c03;
}

* {
    box-sizing: border-box;
}

html {
    background: radial-gradient(#333333, #000000);
    height: 100%;
    font-family: Roboto, sans-serif;
}

.table {
    background-color: var(--pool);
    border: 5px solid brown;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    width: 500px;
    height: 312px;
    overflow: show;
    position: relative;
}

.player-name {
    margin: auto;
    display: block;
    width: min-content;
    position: absolute;
    background-color: #fbfbf8;
    margin-bottom: 10px;
    padding-left: 5px;
    animation: from-left;
}

.player-name:has(#PlayerName0) {
    left: 60px;
    top: 50px;
    transform: rotate(calc(-0.025640007174590595turn / 1.5)) translate(2.65237px, 2.852927px);
}

.player-name:has(#PlayerName1) {
    right: 50px;
    top: 60px;
    transform: rotate(calc(-0.027912291548889002turn / -1.5)) translate(-1.73686px, -0.609465px);
}

.player-name:has(#PlayerName2) {
    left: 50px;
    top: 120px;
    transform: rotate(calc(-0.049294732698637725turn / 1.5)) translate(4.31924px, -3.71038px);
}

.player-name:has(#PlayerName3) {
    right: 50px;
    top: 120px;
    transform: rotate(calc(-0.01168697776686114turn / -1.5)) translate(-2.89761px, -4.76832px);
}

.player-name:has(#PlayerName4) {
    left: 50px;
    top: 180px;
    transform: rotate(calc(-0.035603076994618746turn / 1.5)) translate(3.17874px, -4.15831px);
}

.player-name:has(#PlayerName5) {
    right: 50px;
    top: 180px;
    transform: rotate(calc(-0.03652729026566598turn / -1.5)) translate(2.12999px, 4.19067px);
}

.player-name input {
    background: none;
    outline: none;
    border: none;
}

button.start-game {
    position: absolute;
    right: 20px;
    bottom: 12px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.absolute {
    position: absolute;
}

.card {
    background-color: white;
    width: 25px;
    user-select: none;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    border: 3px solid white;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.red-card {
    color: red;
}

.hand-of-cards {
    position: absolute;
    min-height: 45px;
    transform: translate(-50%, 0%);
}

.card-back {
    background-color: red;
}

.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20px;
    top: 125px;
    background-color: #66036d;
    color: khaki;
}

.disabled-board {
    opacity: 0.7;
}

.name-info {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top: 2px solid red;
    top: 45px;
    color: white;
    font-size: 10px;
}

.clock {
    cursor: pointer;
    user-select: none;
    border: 5px solid brown;
    position: absolute;
    box-sizing: border-box;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    padding-top: 15px;
    padding-right: 2px;
}

.clock .hand {
    animation: 10s linear 0s infinite running tick;
    width: 2px;
    height: 20px;
    position: absolute;
    transform-origin: 50% 100%;
    background-color: black;
    top: 0;
    left: 19px;
    transform: translate(-50%, 0%);
}

.clock .tick-mark {
    height: 5px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 19.5px;
    transform-origin: 50% 400%;
    background-color: black;
}

.clock .label {
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    text-align: center;
    height: 10px;
    width: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px 5px white;
}

@keyframes tick {
    00% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

#title1,
#title2,
#title3 {
    color: white;
    font-size: 30px;
    font-variant: small-caps;
    animation: float 2s alternate infinite ease-in-out;
    position: absolute;
}

#title1 {
    right: 51vw;
    top: calc(50vh - 280px);
}

#title2 {
    animation-duration: 2.157s;
    left: 50vw;
    top: calc(50vh - 280px);
}

#title3 {
    left: 50vw;
    transform: translate(-50%, 0);
    animation: float-centered 1.768s alternate infinite ease-in-out;
    top: calc(50vh - 240px);
}

@keyframes float {
    0% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 5px);
    }
}

@keyframes float-centered {
    0% {
        transform: translate(-50%, -5px);
    }
    100% {
        transform: translate(-50%, 5px);
    }
}

.winning-hand-display {
    position: absolute;
    left: 250px;
    transform: translate(-50%, 0%);
    font-weight: bold;
    top: 120px;
    color: white;
}
